/* -------------------------PALETA DE COLORES------------------------------------*/

:root{
    --color-fuente: #434242;
    --color-defecto: #fff;
    --color-intensidad1: #f7f7f7;
    --color-intensidad2: #F5EBE0;
    --color-intensidad3: #F0DBDB;
    --color-intensida4: #DBA39A;
    --color-boton: #bfbfce;
    --sombras:rgb(134 134 134/25%);
}


/* ------------------------------GENERALIDADES------------------------------------- */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--color-fuente);
}

body{
    font-family: 'BioRhyme', serif;
    font-size: 20px;
}


/*--------SECCIÓN: MENU-------------*/


.menu{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: var(--color-intensidad1);
    font-size: 0.8rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1.2rem var(--sombras);
    position: fixed;
}

.menu__ul{
    margin: 0.1rem 0rem;
    display: flex;
    align-items: center;
}

.menu__ul li{
    margin: 0.1rem;
    padding: 0.5rem;
    text-transform: uppercase;
}

.link-resaltado{
    background-color: var(--color-boton);
    border-radius: 1.2rem;
}

main{
    padding: 3rem 0rem 0rem;
}


/*---------SECCIÓN: HOLA---------*/


.hola{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    padding: 1rem 2.5rem;
    width: 100%;
}

.hola__presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 45%;
}

.hola__imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    max-width: 500px;
}

.hola__presentacion__descripcion{
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: bold;
}

.hola__presentacion__nombre{
    font-size: 3.5rem;
    color: var(--color-intensida4);
    font-weight: 700;
    width: 90%;
}

.boton{
    background-color: var(--color-boton);
    border-radius: 1.5rem;
    border: solid 1px var(--color-boton);
    padding: 0.7rem 0rem;
    text-transform: uppercase;
    font-family: 'BioRhyme', serif;
    font-size: 1rem;
    width: 45%;
    margin: 1.5rem 0 0.5rem;
}


/*---------SECCIÓN: CONOCIMIENTOS--------*/


.conocimientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-intensidad2);
    padding: 2.5rem;
}

.conocimientos__mensaje{
    text-align: center;
    width: 65%;
    align-self: center;
}

.conocimientos__contenedor__tecnologias, .tecnologias{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.conocimientos__contenedor__tecnologias{
    width: 60%;
    padding: 2rem 0.5rem;
}

.tecnologias{
    width: 30%;
    background-color: var(--color-intensidad0);
    border: solid 1px var(--color-intensida4);
    padding: 3.5rem 1.2rem;
    border-radius: 15px;
    margin: 0.25rem;
}

.tecnologias img{
    width: 80%;
}

.tecnologias figcaption{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
}


/*---------SECCIÓN: QUOTES--------*/


.cita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--color-intensida4) ;
    font-size: 2rem;
}

div{
    margin-bottom: 1.7rem;
}

div i{
    font-size: 4rem;
}
.cita h3{
    margin: 1.5rem;
}


/*----------SECCIÓN: PROYECTOS-----------*/


.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2.5rem;
}

.proyectos__titulo{
    text-align: center;
    width: 65%;
    align-self: center;
}

.proyectos__contenedor, .card__proyecto{
    display: flex;
    flex-flow: row wrap;
}

.proyectos__contenedor{
    justify-content: center;
    padding: 2rem 0.5rem;
    width: 100%;
}

.card__proyecto{
    justify-content: space-between;
    width: 25%;
    background-color: var(--color-defecto);
    border: solid 1.5px var(--color-intensida4);
    padding: 3rem 2.8rem;
    border-radius: 1.2rem;
    margin: 0.25rem;
}

.card__proyecto a img{
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 100%;
}

.card__proyecto figcaption{
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0rem 0rem;
    text-align: center;
}


/*---------SECCIÓN: CONTACTOS--------*/


.contacto{
    background-color: var(--color-intensidad2) ;
    padding: 10rem 3.5rem;
}

.contacto__contenedor{
    display: flex;
    flex-direction: row;
    background-color: var(--color-intensidad1);
    border-radius: 1.2rem;
    padding: 1.2rem;
    width: 100%;
}

.contacto__contenedor-izq,
.contacto__contenedor-der{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
}
.form-nombres{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.nombres{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.contacto__contenedor-der form input,
.contacto__contenedor-der form textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    padding: 1.2rem;
    border: none;
    font-family: 'BioRhyme', serif;
    font-size: 0.7rem  
}

.izq__contacto__redes ul li{
    display: flex;
    align-items: center;
}

.contacto__contenedor-izq h2,
.contacto__contenedor-der h2{
    margin: 0px 0px 2.25rem;
}

.izq__contacto__mensaje p{
    margin: 1.2rem 0rem;
}
.izq__contacto__redes{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.izq__contacto__redes ul li a i{
    color: var(--color-intensida4);
    background-color: var(--color-intensidad1);
    border-radius: 2.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}


/*-----------SECCIÓN: FOOTER------------*/


footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-intensida4) ;
    padding: 3rem 0.25rem;
    text-align: center;
}

.footer__menu, 
.footer__redes, 
.footer__mensaje{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.footer__menu ul, 
.footer__redes ul{
    display: flex;
    flex-direction: row;
}

.footer__menu ul li, .footer__redes ul li{
    margin: 0.8rem;
}

.footer__redes a i{
    color: var(--color-intensida4);
    background-color: var(--color-fuente);
    border-radius: 2.5rem;
    padding: 0.8rem;
}


/* ------------------------------------------------HOVERS--------------------------------------------------------*/


.footer__redes a i:hover{
    background-color: var(--color-intensida4);
    color: var(--color-fuente);
    border: solid 1px var(--color-fuente);
}

.tecnologias:hover, 
.card__proyecto:hover{
    border: solid 1px var(--color-fuente);
    box-shadow: 0 0 1.25rem var(--sombras);
}

.link-resaltado:hover,
.boton:hover{
    background-color: var(--color-intensida4);
    border: solid 1px var(--color-intensida4)
}

.izq__contacto__redes ul li a:hover{
    color: var(--color-intensida4);
}

.izq__contacto__redes ul li a:hover i{
    background-color: var(--color-intensida4);
    color: var(--color-intensidad1);
    border: solid 1px var(--color-intensida4);
}

.menu__ul li:hover,
.footer__menu li:hover{
    font-weight: 600;
}


/*--------------------------------------------------FOCUS-------------------------------------------------*/


.contacto__contenedor-der form input:focus,
.contacto__contenedor-der form textarea:focus{
    box-shadow: 0 0 1.25rem var(--sombras);
    outline: none;
}

/*----------------------------------------------- MEDIA QUERIES----------------------------------------------*/

/*------------ CELULARES -------------*/


@media (max-width: 480px) {
    main{
        padding: 1.75rem 0rem 0rem;
        margin: 1.75rem 0rem 0rem;
    }
    .menu{
        display: none;
    }

    .hola{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        text-align: center;
    }

    .hola__presentacion,
    .hola__imagen img{
        width: 80vw;
        align-items: center;
        align-self: center;
        max-height: 70%;
    }

    .boton{
        align-self: center;
        width: 40vw;
    }

    .conocimientos, .proyectos, .contacto__contenedor{
        padding: 1.75rem 0.25rem ;
    }

    .conocimientos__mensaje, .proyectos__titulo{
        width: 85%;
    }
    .conocimientos__contenedor__tecnologias, .tecnologias{
        display: flex;
        flex-wrap: column;
        align-self: center;
        justify-content: center;
    }
    .conocimientos__contenedor__tecnologias, .proyectos__contenedor{
        width: 100%;
        padding: 2rem 0.5rem;
    }

    .tecnologias, .card__proyecto{
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 1.5rem;
        text-align: center;
    }

    .tecnologias img{
        width: 80%;
        align-self: center;
    }

    .contacto{
        padding: 3rem 0.75rem;
    }
    
    .contacto__contenedor{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }

    .contacto__contenedor-izq{
        width: 100%;
        padding: 1rem 0.5rem;
    }

    .contacto__contenedor-der{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem 0.5rem;
    }

    .form-nombres{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nombres{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .footer__menu{
        display: none;
    }   
}


/* ----------TABLETS-CELULARES MÁS GRANDES-APAISADO----------*/


@media (min-width: 481px) and (max-width: 768px) {
    main{
        padding: 7rem 0rem 0rem;
    }
    .menu{
        position: fixed;
    }
    .hola{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        text-align: center;
        height: 40rem;
    }
    .hola__presentacion,
    .hola__imagen img{
        width: 80vw;
        align-items: center;
        align-self: center;
        max-height: 70%;
    }
    .boton{
        align-self: center;
        width: 40vw;
    }
    .conocimientos, .proyectos, .contacto__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.75rem 0.25px;
    }

    .conocimientos__mensaje, .proyectos__titulo{
        width: 85%;
    }

    .conocimientos__contenedor__tecnologias, .proyectos__contenedor{
        width: 100%;
        padding: 2rem 0.5rem;
    }

    .tecnologias, .card__proyecto{
        width: 40%;
        padding: 2.5rem 1.75rem;
        height: 400px;
    }

    .tecnologias img, .card__proyecto img{
        width: 80%;
    }

    .contacto{
        padding: 2.5rem 1.5rem;
    }
    
    .contacto__contenedor{
        padding: 0.25rem;
        width: 100%;
        text-align: center;
    }

    .contacto__contenedor-izq{
        width: 100%;
    }

    .contacto__contenedor-der{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2.5rem;
    }

    .form-nombres{
        display: flex;
        width: 100%;
    }

    .nombres{
        width: 48%;
    }
}